################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoSitecoreCloud/obj
/.vs/DemoSitecoreCloud/DesignTimeBuild
/.vs/DemoSitecoreCloud/FileContentIndex
/DemoSitecoreCloud/bin/Debug/net8.0
/.vs
